.calls {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.call {
	width: 100%;
	margin: 10px;
	background-color: white;
	border: 1px solid lightgray;
	flex-direction: row;
	flex: auto;
}

.icon {
	display: inline-block;
	flex: 1;
}

.calls {
	height: 525px;
}

.paper_container {
	padding: 10px;
	text-align: center;
}

.paper_div {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.icon_container {
	position: relative;
	display: inline-block;
	align-self: center;
}

.icon_div {
	height: 24px;
	width: 24px;
}

.call_from_div {
	font-size: 20px;
	margin-bottom: 5px;
}
.call_to_div {
	font-size: 10px;
}

.right_bottom_icons_div {
	align-items: center;
	display: flex;
}
